<html>
<head> </head> 
<h1 style="color:black; text-align:center"> HAPPY BIRTHDAY MISS PRAKRITI! </h1>  
<body style="background-color:pink";> </body>
<title> Birthday </title>
<p style="color:green"><font size="10"><font face="french script mt"> Happy birthday Miss Prakriti Didi.Dherai ramri hunu,mailey call garda uthaunu ani tya daya baya nalagnu(hahah..).Jindagima tholo manxey baney ko dekhna pawas hai ta mero pyaro didi.</p>
<p align="center"><img src="C:\Users\Asus\Downloads\IMG-20211106-WA0052.jpg" height=40% width=40% ><p align="center">Wishing you a long life^_^! God bless you.</p>

</html>