{% extends "landing/base.html" %}
{% block content %}
<div class="container">
    <div class="row text-center" style="margin-top: 3%;">
        <h2>Signup</h2>
    </div>
    <div class="d-flex align-items-center justify-content-center" style="margin-top: 4%;">
        <form method="POST">
            {% csrf_token %}
            <table style="border-collapse: separate; 
            border-spacing: 1.2em;">
            {% for field in form %}
                <tr>
                <td>{{field.label_tag}}</td>
                <td>{{field}}</td>
                <tr>
                {% for error in field.errors %}
                    <tr><small>{{error}}</small></tr>
                {% endfor %}
            {% endfor %}
            </table>
            
            <input type="submit" value="Signup"/>
        
        </form>

    </div>
</div>



{% endblock %}